.ion-color-twitter {
  --ion-color-base: #00acee;
  --ion-color-base-rgb: 0, 172, 238;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #0097d1;
  --ion-color-tint: #1ab4f0;
}

.ion-color-google {
  --ion-color-base: #dd4b39;
  --ion-color-base-rgb: 221, 75, 57;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #c24232;
  --ion-color-tint: #e05d4d;
}
