<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button icon-start (click)="onGoBack()" fill="clear">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Connexion</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]='signInForm' (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label for="login">Login</ion-label>
            <ion-input id="login" required name="login" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="password">Password</ion-label>
            <ion-input id="password" required name="password" type="password"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block">Connexion</ion-button>
    </form>
</ion-content>
