<ion-header>
    <ion-toolbar>
        <ion-title text-center>Ajouter votre structure</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding align-items-center>
    <ion-item-divider>

        <ion-grid no-padding>

            <ion-row>
                <ion-label text-center color="primary" float-left for="typeStructure">Type de structure</ion-label>
            </ion-row>
            <ion-row>
                <ion-col></ion-col>
                <ion-col>
                    <ion-select [(ngModel)]="typeStructure" text-center name="typeStructure">
	                    <ion-select-option *ngFor="let structure of structureTypeList"
	                                       [value]="structure">{{structure}}</ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>

            <form [formGroup]="structureForm" (ngSubmit)="onSubmit()">
	            <ion-item>
		            <ion-input text-center formControlName="name" type="text" placeholder="Name"></ion-input>
	            </ion-item>
	            <ion-item>
		            <ion-input text-center formControlName="description" type="text"
		                       placeholder="Description"></ion-input>
	            </ion-item>
	            <ion-item>
		            <ion-input text-center formControlName="phone" type="tel" placeholder="Phone"></ion-input>
	            </ion-item>

	            <ion-grid *ngIf="typeStructure==structureType.MEDICAL_OFFICE">
		            <ion-input text-center formControlName="specialities" type="text"
		                       placeholder="Specialities"></ion-input>
		            <ion-input text-center formControlName="medecins" type="text" placeholder="Medecins"></ion-input>
                </ion-grid>

	            <ion-grid *ngIf="typeStructure==structureType.HOSPITAL">
		            <ion-item>
			            <ion-label> Maternity :</ion-label>
			            <ion-toggle formControlName="maternity"></ion-toggle>
		            </ion-item>
		            <ion-item>
			            <ion-input text-center formControlName="emergency" type="text"
			                       placeholder="Services"></ion-input>
		            </ion-item>
                </ion-grid>

	            <ion-grid *ngIf="typeStructure==structureType.GYM">
		            <ion-item>
			            <ion-input text-center formControlName="price" type="text" placeholder="Price"></ion-input>
		            </ion-item>
                </ion-grid>

	            <ion-grid *ngIf="typeStructure==structureType.FITNESS_TRAIL">
		            <ion-item>
			            <ion-input text-center formControlName="difficulty" type="text"
			                       placeholder="Difficulty"></ion-input>
		            </ion-item>
                </ion-grid>
	            <ion-button expand="full" type="submit">Add</ion-button>
            </form>
        </ion-grid>
    </ion-item-divider>
</ion-content>
