<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button icon-start (click)="onGoBack()" fill="clear">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Inscription</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <ion-item>
                <ion-label for="login">Login</ion-label>
                <ion-input id="login" required name="login" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="password1">Password</ion-label>
                <ion-input id="password1" required name="password1" type="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label for="password2">Confirm password</ion-label>
                <ion-input id="password2" required name="password2" type="password"></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block">Inscription</ion-button>
        </form>
    </ion-grid>
</ion-content>
