<ion-header>
	<ion-toolbar>
		<ion-title text-center>Favoris</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content no-padding>
	<ion-grid no-padding>
		<ion-list>
			<ion-item *ngIf="favoris == null">
				<ion-label text-center color="danger">You don't have any favourites :(</ion-label>
			</ion-item>
			<ion-item-sliding *ngFor="let struct of favoris">
				<ion-item>
					<ion-label>{{struct.name}}</ion-label>
					<ion-badge color="medium" slot="end">{{struct | structureTypeToStr}}</ion-badge>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option color="danger" (click)="delete(struct).then()">
						<ion-icon name="trash"></ion-icon>
						Delete
					</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>
	</ion-grid>
</ion-content>